<div class="content">
  <div class="player">
    <video src="public/652333414.mp4" class="player_video viewer"></video>
    
    <div class="player_controls control-bar">

      <div class="progress control-bar_progress">
        <div class="progress_filled""></div>
      </div>

      <button class="control-bar_play toggle" title="Toggle Play">▶</button>

      <input type="range" name="volume" class="control-bar_volume slider volume" min=0 max="1" step="0.05">
      

      <div class="control-bar_rate-wrapper rate">
        <span class="control-bar_rate-label">Speed: </span>
        <span class="control-bar_rate drop-up">
          <div class="drop-up_current">1</div>
          <div class="drop-up_options">
            <div class="drop-up_option">0.5</div>
            <div class="drop-up_option">0.75</div>
            <div class="drop-up_option">1</div>
            <div class="drop-up_option">1.5</div>
            <div class="drop-up_option">2</div>
          </div>
        </span>
      </div>

    </div>

  </div>
</div>
