<div class="inbox">

  <div class="inbox_item letter js_letter">
    <label class="letter_checkbox-wrapper">
      <input type="checkbox" class="letter_checkbox">
    </label>
    <div class="letter_name">
      This is inbox layout
    </div>
  </div>

  <div class="inbox_item letter js_letter">
    <label class="letter_checkbox-wrapper">
      <input type="checkbox" class="letter_checkbox">
    </label>
    <div class="letter_name">
      Made for fun
    </div>
  </div>

  <div class="inbox_item letter js_letter">
    <label class="letter_checkbox-wrapper">
      <input type="checkbox" class="letter_checkbox">
    </label>
    <div class="letter_name">
      Just 'cause i know
    </div>
  </div>

  <div class="inbox_item letter js_letter">
    <label class="letter_checkbox-wrapper">
      <input type="checkbox" class="letter_checkbox">
    </label>
    <div class="letter_name">
      How to do it
    </div>
  </div>

  <div class="inbox_item letter js_letter">
    <label class="letter_checkbox-wrapper">
      <input type="checkbox" class="letter_checkbox">
    </label>
    <div class="letter_name">
      This is very very long name created only for testing, how it would look like
    </div>
  </div>

  <div class="inbox_item letter js_letter">
    <label class="letter_checkbox-wrapper">
      <input type="checkbox" class="letter_checkbox">
    </label>
    <div class="letter_name">
      Shrt
    </div>
  </div>

  <div class="inbox_item letter js_letter">
    <label class="letter_checkbox-wrapper">
      <input type="checkbox" class="letter_checkbox">
    </label>
    <div class="letter_name">
      Everything is ok;
    </div>
  </div>

</div>