// .cities-search
// .cities-search_input-wrapper   .search-box
// .cities-search_input    .search-box_input
// .cities-search_list    .search-list
// .cities-search_item    .search-item
// .search-item_name
// .search-item_population

body{
  background: $yellow;
}

.cities-search{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 50px;
}

.cities-search_list{
  position: relative;
  top: -1px;
}

@import './search-box';
@import './search-list';
