

.panel1 { background-image:url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500); }
.panel2 { background-image:url(https://source.unsplash.com/rFKUFzjPYiQ/1500x1500); }
.panel3 { background-image:url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d); }
.panel4 { background-image:url(https://source.unsplash.com/ITjiVXcwVng/1500x1500); }
.panel5 { background-image:url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500); }

.panels{
  height: 100%;
  width: 100%;
  position: absolute;

  display: flex;
  flex-direction: row;
}
.panel {
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;

  box-shadow: inset 0px 0px 2px 2px rgba(gray, 0.3); 

  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow:1;
  flex-basis: 10%;

  transition: all .3s ease-in-out;

  p {
    margin: 0;

    text-align: center;
    text-shadow: 0px 1px 5px black;

    position: relative;
    opacity: 0;
    transition: all .3s ease-out;

    &:first-child{
      top: -10%;
    }
    &:nth-child(2){
      opacity: 1;
    }
    &:last-child{
      top: 10%;
    }
  }
  &.hover:hover, &.hover:active, &.open{
    flex-grow: 10;
    background-size: auto 150%;

    &.open-active{
      p{
        top: 0;
        opacity: 1;
      }
    }
  }
}
