<div class="cities-search">
  <div class="cities-search_input-wrapper search-box">
    <input id="input" type="text" name="name" class="cities-search_input search-box_input" autofocus="autofocus" autocomplete="false">
  </div>

  <ul id="cities" class="cities-search_list search-list">
    <li class="cities-search_item search-item">
      <span class="search-item_name">Input <span class="found">City</span></span>
      <span class="search-item_population">123,456</span>
    </li>
    <li class="cities-search_item search-item">
      <span class="search-item_name"><span class="found">Or</span> State</span>
      <span class="search-item_population">123,456</span>
    </li>
  </ul>
</div>